.speech {
    font-family: 'Times New Roman', Times, serif;
    size: 20px;
    color: black;

}
.direction {
    font-family: Arial, Helvetica, sans-serif;
    size: 20px;
    color: black;
    background-color: darkgoldenrod;
}

.name{}

.direction:hover {
    background-color: greenyellow;
    color: pink;

}
.anfisa {
    color: #336699;
}
.anfisa:hover{
    text-shadow: 3px 3px red;
    filter: blur(0.25px);
    border:1px solid black;
    width: fit-content;

}    

.olga {
    color: #990000;
}
.olga:hover{
    text-shadow: 3px 3px aquamarine;
    filter:blur(0.25px);
    border:1px solid black;
    width:fit-content;
}
.ferapont {
    color: #006600;
}
.ferapont:hover {
    text-shadow: red;
    filter:blur(0.25px);
    border:1px solid black;
    width:fit-content;

}
.natasha {
    color: green;
}
.natasha:hover {
    text-shadow: yellow;
    filter:blur(0.25px);
    border:1px solid black;
    width:fit-content;

}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    width: 100px;
    border-color: #336699;
    text-align: center;
    padding: 8px;
    margin: 1px;
}


